* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

nav {
    background-color: #52796F;
    padding: 1em;
    text-align: center;
    font-weight: 670;
    
    li {
        display: inline;
       
    }
    
}

a:hover {
   text-decoration: underline;
}

li a {
    text-decoration: none;
    color: #2F3E46;
    padding: 0.5em;
}

#intro {
    padding: 1em;
    color: #354F52;
    
}

#resources {
    padding: 1em;
    color: #52796F;
   
   
}

body {
    background-color: #CAD2C5;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

footer {
    background-color: #2F3E46;
    text-align: left;
    padding: 1.5em;
    padding-bottom: 0.5em;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #CAD2C5;
    
    p {
        text-align: right;
        padding-right: 3em;
    }
}